#mainContainer{
    background-color: black;
    align-content: center;
    height: fit-content;
}

#mainHeader{
    text-align: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#itemBox{
    border: 1px solid gray;
    border-radius: 10px;
    height: 480px;
    width: 450px;
    margin: 30px;
    background-color: white;
    padding: 15px;
}

#itemTitle{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}